<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-nav shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"> </h5>
    <nav class="my-2 my-md-2 mr-md-4 ">
        <a class="p-2 text-dark" href="#">Home</a>
        <a class="p-2 text-dark" href="#">About</a>
        <a class="p-2 text-dark" href="#">Events</a>
        <a class="p-2 text-dark" href="#">Sponsors</a>
        <a class="p-2 text-dark" href="#">Contact</a>
        <a class="p-2 text-dark" href="#">Bootcamp</a>
    </nav>
</div>

<h1 class="text-bgl in-circle-ecell" style="z-index: 3; position: absolute;" > e-cell </h1>
<small class="text-bgl in-circle-iitb" style="z-index: 3; position: absolute;">IIT BOMBAY</small>

<div class="test rounded-circle" style="margin-left: -100px; margin-top: -150px; position: sticky;">
</div>
<h1 class="text-bgl in-circle-enb" style="z-index: 3; position: absolute;" > EnB </h1>
<h1 class="text-bgl in-circle-club" style="z-index: 3; position: absolute;" > C L U B  </h1>

<img src="assets/img/landingImage.jpg" style="position: absolute; margin-left: 40vh; margin-top: -7vh;">



<div class="test rounded-circle float-right" style="margin-right: -69px; margin-top: -280px;z-index: -1; position: sticky;">
</div>

<div class="wrapper">
    <div class="container">
        <div  class="brand float-right">
          <h1 class="h1-seo" style="text-align: end; margin-top: 1.5em; margin-right: -1.5em; font-size: 7em;">WELCOME <br> TO THE <br> EnB CLUB </h1>
        </div>
    </div>
</div>



<img src="assets/img/lalala.jpg" style="position: static; margin-left: 55vh; margin-top: 20vh;">

<div class="container">
    <div class="row">
        
        <div class="col-7" style="margin-left: -15em;">
            <p class="text-dark" style="font-size: medium; font-weight: 550"> Lorem ipsum dolor sit amet, eros mi nulla id, ante lectus rhoncus nibh mus et. Ut rutrum, vel ornare tincidunt nulla varius, sapien nulla amet orci porttitor, egestas fringilla lacus donec pede egestas, accumsan leo libero. Maecenas velit, et posuere dictum nunc convallis. Felis nullam arcu malesuada blandit tincidunt elit, dolor duis, mauris nulla non scelerisque at faucibus aliquet, et vivamus sit et sit. Erat ullamcorper pellentesque ut in nam urna, pharetra pede mus, consequuntur per, vulputate in lacus. Cursus sapien nam</p>
            
            
            <ul class="ul-class">
                <li>Lecture Series</li>
                <li>Workshops</li>
                <li>Informal Sessions (Lorem ipsum dolor sit amet, eros mi nulla id, ante lectus rhoncus nibh mus et) </li>
                <li>Lorem ipsum dolor sit amet, eros mi nulla id, ante lectus rhoncus nibh mus et</li>
                <li>Lorem ipsum dolor sit amet, eros mi nulla id, ante lectus rhoncus nibh mus et</li>
                <li>Events like 'Startup Bootcamp'</li>
                <li>Online Quizzed</li>
                <li>Games like Virtual Stock market, Buisness Simulation, etc.</li>
            </ul>
        </div>

        <div class="col-5">
            <div class="wrapper">
                <div class="container">
                    <img src="assets/img/img2.jpg" style="position: sticky; margin-left: 35vh; height: 60vh;">
                </div>
            </div>
        </div>
    </div>
</div>

<img src="assets/img/img4.jpg" style="position: absolute; margin-left: 20vh; margin-top: 20vh;">

<div class="wrapper">
    <div class="container">
        <div  class="brand float-right">
          <h1 class="h1-seo" style="text-align: end; margin-top: 1.5em; margin-right: -1.5em; font-size: 7em;">WAY TO  <br> STARTUP </h1>
          <img src="assets/img/img3.jpg" style="margin-left: 110vh;">
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="container">
          <h1 class="h1-seo" style="margin-top: 1.5em; margin-right: -1.5em; font-size: 7em;"> SPONSORS </h1>
        
    </div>
</div>

<div class="wrapper">
    <div class="row" style="width: 80%; align-self: center; margin-left: 15%; margin-top: 6%;">
        <div class="col-3" >
            <p id="rcorners4"></p>
        </div>
        <div class="col-3" >
            <p id="rcorners4"></p>
        </div>
        <div class="col-3" >
            <p id="rcorners4"></p>
        </div>
        <div class="col-3" >
            <p id="rcorners4"></p>
        </div>
</div>


<div class="wrapper" style="position: sticky;">
    <div class="container">
        <div  class="brand float-right">
          <h1 class="h1-seo" style="text-align: end; font-size: 7em; margin-top: 2.5em;">CONTACT US </h1>
        </div>

        <img src="assets/img/img5.jpg" style="position: absolute; margin-left: 40vh; margin-top: 50vh;">
    </div>
</div>
</div>

<small class="bottom" style="z-index: 3; position: absolute; margin-top: 54vh; margin-left: 45vh;" >The Entrepreneurship Cell, <br>
SAC, IIT Bombay, Powai <br> Mumbai-400076</small>

<small class="bottom" style="z-index: 3; position: absolute; margin-top: 68vh; margin-left: 55vh;" >Keshav Arora <br>
    +91-9004266356 <br> keshav@ecell.in </small>

<small class="bottom" style="z-index: 3; position: absolute; margin-top: 53vh; margin-left: 115vh;" > <br>
        ecell@iitb.ac.in <br> </small>
        
 <small class="bottom" style="z-index: 3; position: absolute; margin-top: 68vh; margin-left: 115vh; text-align: left;" >Greeshman Reddy <br>
           +91-8978232159 <br> greeshman@ecell.in </small>
